Schema/feeds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="feeds" type="tipo_feeds"/>

  <xs:complexType name="tipo_feeds">
    <xs:sequence>
      <xs:element name="feed" type="tipo_feed" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tipo_feed">
    <xs:sequence>
      <xs:element name="titulo" type="xs:string"/>
      <xs:element name="url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>